.primary-overlay {
  background: rgba(112, 81, 176, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(../img/students-OSCURO.png) ; /* FONDO */
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
  
}

.lcc-header {
  background: url(../img/lcc1.png); /* FONDO */
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}


.main-header .showcase {
  padding-top: 100px;
}

.main-header-inner {
  background: url(../img/books.jpg); /* FONDO */
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #fff;
}

.main-header-inner .showcase {
  padding-top: 50px;
}

.main-header-inner-2 {
  background: url(../img/classroom_osc.png); /* FONDO */
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #fff;
}

.main-header-inner-3 {
  background: url(../img/library-books.jpg); /* FONDO */
  background-size: cover;
  background-position: bottom;
  min-height: 350px;
  color: #fff;
}

.main-header-inner-4 {
  background: url(../img/library-books-2.jpg); /* FONDO */
  background-size: cover;
  background-position: bottom;
  min-height: 350px;
  color: #fff;
}

.main-header-inner-2 .showcase {
  padding-top: 50px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-noticias {
  position: relative;
  background: url(../img/event-venue.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast {
  position: relative;
  background: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 180px;
}

.section-podcast a {
  margin-top: 5px;
}

.section-podcast .primary-overlay {
  background: rgba(112, 81, 176, 0.9);
}

.carousel-item p {
  font-size: 20px !important;
}

.tabs .indicator {
  background-color: #6a1b9a !important;
}

.btn-extend {
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  .section-developers,
  .section-podcast {
    min-height: 240px;
  }
}

.loader{
  position: absolute;
  top: 40%;
  left: 47%;
}

.img-size{
  height: 212px;
  width: 378px;
}